extends layout

block content
  .container
    ul#entries
    
    form(id='FormAdd')
      h2 Add Note
      hr
      hr
      p
        | title: 
        input(id='title', type = 'text', name ='title')
        br
        br
        | description: 
        input(id='content', type='text', name='content')
        br
        br
      input(type='submit', class="button", value='Add note')

  script(src='/javascripts/main.js')