doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="title bar icon" href="/images/Pix-logo.png" type="image/png")
  
  body
    body
    header#page-header
      a(href='/')
        h1 Notario 
  
    block content

    footer#page-footer
      p Pix [ ]