extends layout

block content
  #topContent
    a(href='/')
      img(id='backBtn', src='/images/backIcon-blue.png')
    button(onclick='hideView()', id='editButton')
      img(id='editBtn', src='/images/editIcon-blue.png') 

  #mainContent
    div#noteView
      h1#noteViewTitle
      p#noteViewContent
    
    #editText
      form(id='formEdit', class='showForm')
            p 
              br
              input(id='title', type = 'text', name ='title', placeholder='Title')
              br
              br
              br
              textarea(id='content', name='content', placeholder='Note', rows='4')
              br
              br
            input(onclick='myFunction()', id='saveBtn', type='image', src='/images/doneIcon-square.png', class="button", value='Save')

  #page-footer
      button(id='deleteBtn', onclick='deleteFunction()')
        img(class='deleteBtn', src='/images/deleteIcon-blue.png')

      a(href='/')
        p +
  
  script(src='/javascripts/note.js')
  script(src='/javascripts/delete.js')