extends layout

block content
  #topContent
    a(href='/')
      img(id='backBtn', src='/images/backIcon-blue.png')
    a(href='')
      img(id='editBtn', src='/images/editIcon-blue.png') 

  #mainContent
    h1#noteViewTitle
    p#noteViewContent

  #page-footer
      a(href='')
        img(class='deleteBtn', src='/images/deleteIcon-blue.png')
  
  script(src='/javascripts/note.js')