body {
  background-attachment: fixed;
  /*background-image: linear-gradient(#6e3f98, #d6ab97);  /*(#fff, #6e3f98);*/
  background: rgba(20, 20, 20);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Comfortaa, Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*general*/
ul {
  list-style-type: none;
  padding: 0;
}

/*Header*/
#page-header {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 90%;
  padding: 0px;
  overflow: auto;
  color: white;
}

#page-header h1 {
  float: left;
  font-size: 110px;
  margin:0;
}

/*Main content*/
.container {
  padding: 0;
  width: 100%;
}

.container h2 {
  margin: 0;
  font-weight: normal;
}

/*Add column*/
#addNote {
  background: rgb(43, 43, 43);
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: 85%;
}

#dropBtn {
  background: rgb(43, 43, 43);
  border-style: none;
  border-radius: 5px;
  color: #2980B9;
  font-family: comfortaa;
  font-size: 65px;
  text-align: left;
  width: 100%;
}

.dropdown-content {
  display: none;
  min-height: 250px;
  width: 100%;
  z-index: 1;
}

  /*dropdown content*/
#addForm {
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
}

#addNote #title {
  background: rgba(22, 22, 22);
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: comfortaa;
  font-size: 65px;
  padding: 10px;
  width: 97%;
}

#addNote #content {
  background: rgba(22, 22, 22);
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: comfortaa;
  font-size: 65px;
  padding: 10px;
  width: 97%;
}

#saveBtn {
  border-radius: 10px;
  float: right;
  width: 90px;
}

.show {
  display:block;
}

/*Content column*/
#mainContent {
  background: rgb(43, 43, 43);
  border-radius: 15px;
  font-family: comfortaa;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 150px;
  overflow: auto;
  padding: 20px;
  width: 85%;
}

a {
  color: white;
  text-decoration: none;
}

.noteTitle {
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
}

.divContent {
  color: rgb(207, 207, 207);
  font-size: 35px;
  letter-spacing: 3px;
}

    /*Separate note page*/
#topContent {
  background: rgb(43, 43, 43);
  border-radius: 15px;
  font-family: comfortaa;
  margin: 0 auto;
  padding: 20px;
  width: 85%;
}

#backBtn {
  width: 70px;
}

#editButton, #editBtn {
  background: rgb(43, 43, 43);
  border: none;
  width: 70px;
  float: right;
}

#noteViewTitle {
  color: white;
  font-size: 70px;
  font-weight: normal;
}

#noteViewContent {
  color: rgb(207, 207, 207);
  font-size: 45px;
}

.hide {
  display: none;
}

.showForm {
  display: none;
}

    /*edit content*/
#editText #title {
  background: rgba(22, 22, 22);
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: comfortaa;
  font-size: 70px;
  padding: 10px;
  width: 97%;
}

#editText textarea {
  background: rgba(22, 22, 22);
  border-radius: 10px;
  border-style: none;
  color: rgb(207, 207, 207);
  font-family: comfortaa;
  font-size: 45px;
  padding: 10px;
  width: 97%;
}

.show {
  display:block;
}

/*footer*/
#page-footer {
  background-color: rgba(22, 22, 22, 0.96);
  bottom: 0px;
  height: 130px;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

#page-footer h3 {
  color: #686868;
  font-family: comfortaa;
  font-size: 40px;
  font-weight: normal;
  margin-right: 130px;
  text-align: center;
}

#page-footer #deleteSquare {
  background: none;
  border-style: none;
  float: left;
  margin-top: 10px;
  padding: 0px;
}

#page-footer .deleteSquare {
  border-radius: 15px;
  margin-left: 40px;
  padding: 10px;
  width: 90px;
}

  /*note footer*/
#page-footer #deleteBtn {
  background: none;
  border-style: none;
  float: left;
  padding: 0px;
}

#page-footer .deleteBtn {
  margin-left: 20px;
  padding: 10px;
  width: 100px;
}

#page-footer p {
  color: #2980B9;
  float: right;
  font-family: comfortaa;
  font-size: 110px;
  margin: 0;
  margin-right: 40px;
  padding: 10px;
}