body {
  background-attachment: fixed;
  /*background-image: linear-gradient( #d6ab97, white);  /*(#fff, #6e3f98);*/
  background: rgba(20, 20, 20);
  background-repeat: no-repeat;
  background-size: cover;
  font: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*general*/
ul {
  list-style-type: none;
  padding: 0;
}

/*Header*/
#page-header {
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  padding: 0px;
  height: 130px;
  color: white;
}

#page-header h1 {
  float: left;
  font-family: Comfortaa;
  font-size: 110px;
  margin:0;
}

/*Main content*/
.container {
  padding: 0;
  width: 100%;
}

.container h2 {
  margin: 0;
  font-weight: normal;
}

/*Add column*/
#addNote {
  background: yellow;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  width: 85%;
}

#dropBtn {
  background: rgb(43, 43, 43);
  color: white;
  font-family: comfortaa;
  font-size: 50px;
  text-align: left;
  width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  /*display: inline-block; /*denna som placerar allt åt vänster*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.show {display:block;}*/

  /*dropdown content*/
#addForm {
  background: rgb(43, 43, 43);
  color: white;
  font-family: comfortaa;
  font-size: 35px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
}

#title {
  background: red;
  border-style: none;
  font-size: 40px;
  height: 30px;
  width: 300px;
}

#content {
  background: red;
  border-style: none;
  color: white;
  font-size: 35px;
  width: 100%;
}

#button {
  border-style: none;
  float: right;
  font-size: 30px;
  height: 70px;
  width: 100px;
}

/*Content column*/
#mainContent {
  background: rgb(43, 43, 43);
  border-radius: 15px;
  font-family: comfortaa;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 150px;
  padding: 20px;
  width: 85%;
}

.noteTitle {
  color: white;
  font-size: 40px;
  letter-spacing: 0px;
}

.divContent {
  color: rgb(214, 214, 214);
  font-size: 20px;
  letter-spacing: 3px;
}

/*footer*/
#page-footer {
  background-color: rgba(22, 22, 22, 0.97);
  bottom: 0px;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}